users.json
articles/
reviews/
emaillogs/
documentation/*.html
documentation/*.pdf
documentation/images/*.pdf
documentation/oge-settings.json
fregeifier_temporary*
*.aux
*.log
*.synctex.gz
./oge-settings.json
journal-for-the-history-of-analytical-philosophy.html
