/* This defines styles and classes used in the book */
@page {
  margin: 10px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
ol, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1.2;
  font-family: serif;
  color: #1a1a1a;
  background-color: #fdfdfd;
  padding-bottom: 2rem;
}
p {
  text-indent: 0;
  margin: 1rem 0;
  widows: 2;
  orphans: 2;
  line-height: 1.4;
}
a, a:link, a:visited {
  text-decoration: none;
}
img {
  max-width: 100%;
}
h1 {
  text-indent: 0;
  text-align: left;
  margin: 2rem 0 0 0;
  font-size: 200%;
  font-weight: bold;
}
h1 span.header-section-number::after {
    content: ".";
    margin-right: 0.4rem;
}

h2 {
  text-indent: 0;
  text-align: left;
  margin: 1.5rem 0 0 0;
  font-size: 150%;
  font-weight: bold;
}
h3 {
  text-indent: 0;
  text-align: left;
  margin: 1.3rem 0 0 0;
  font-size: 130%;
  font-weight: bold;
}
h4 {
  text-indent: 0;
  text-align: left;
  margin: 1.2rem 0 0 0;
  font-size: 110%;
  font-weight: bold;
}
h5 {
  text-indent: 0;
  text-align: left;
  margin: 1.1rem 0 0 0;
  font-size: 100%;
  font-weight: bold;
}
h5 {
  text-indent: 0;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  page-break-after: avoid;
  page-break-inside: avoid;
}
ol, ul {
  margin: 1rem 0 0 1.5rem;
}
li > ol, li > ul {
  margin-top: 0;
}
blockquote {
  font-size: 90%;
  margin: 1rem 1.5rem 1rem 1.5em;
}
blockquote p {
  line-height: 1.3;
}
code {
  font-family: 'DejaVu Sans Code', 'DejaVu Sans Mono', 'Droid Sans Mono', 'Fira Code', 'Fira Mono', 'JetBrains Mono', Inconsolata, Cousine, 'IBM Plex Mono', 'Red Hat Mono', 'Sarasa Mono K', 'Ubuntu Mono', Consolas, Menlo, Monaco, 'Lucida Console', monospace;
  font-size: 85%;
  margin: 0;
  hyphens: manual;
}
pre {
  margin: 1rem 0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
 background-color: transparent;
 overflow: visible;
}
hr {
  visibility: hidden;
  margin: 1rem 0;
}

table {
  margin: 1rem 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
}

table caption {
  margin-bottom: 0.75rem;
}

tbody {
  margin-top: 0.5rem;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

td {
  padding: 0.125rem 0.5rem 0.25rem 0.5rem;
}

#TOC li {
  list-style: none;
}

#TOC ul {
  padding-left: 1.3rem;
}

#TOC > ul {
  padding-left: 0;
}

#TOC a:not(:hover) {
  text-decoration: none;
}

code {
  white-space: pre-wrap;
}

span.smallcaps {
  font-variant: small-caps;
}

/* This is the most compatible CSS, but it only allows two columns: */
div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

/* If you can rely on CSS3 support, use this instead:
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
*/

div.hanging-indent {
  margin-left: 1.5rem;
  text-indent: -1.5rem;
}

ul.task-list {
  list-style: none;
}

ul.task-list li input[type="checkbox"] {
  width: 0.8rem;
  margin: 0 0.8rem 0.2rem -1.6rem;
  vertical-align: middle;
}

.display.math {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
}

nav#toc ol,
nav#landmarks ol {
  padding: 0; margin-left: 1em;
}

nav#toc ol li,
nav#landmarks ol li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a.footnote-ref {
  vertical-align: super;
}
em, em em em, em em em em em {
  font-style: italic;
}
em em, em em em em {
  font-style: normal;
}
q {
  quotes: "“" "”" "‘" "’";
}

/* hanging for csl entries */
div.csl-entry {
  clear: both;
  margin-bottom: 0.5rem;
}

/* JHAP Stuff */

div.jhapbanner div {
  display: inline-block;
  background-color: #43467b;
  padding: 2rem 2rem 2rem 1rem;
  max-width: 100%;
}

div.jhapbanner svg {
  background-color: #43467b;
}

div.volinfo {
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 0.5rem 0 0 0;
}

div.volinfo div.specialvolblock {
  text-transform: none;
}

div.volinfo div.specialvolblock div.specialvollabel {
  text-transform: uppercase:
}

div.volinfo div.specialvolblock div.specialvoltitle {
  font-style: italic;
  font-size: 120%;
  margin: 0.5rem 0;
}

div.mainheader {
  font-family: sans-serif;
}

div.reviewlabel {
  text-transform: uppercase;
}

div.reviewedtitle {
  font-weight: bold;
  font-size: 140%;
}

div.reviewedby {
  margin: 1rem 0;
  font-style: italic;
}

div.documenttitle {
  font-weight: bold;
  font-size: 170%;
  margin: 3rem 0 0 0;
}

div.documentsubtitle {
  margin-top: 0.3rem;
  font-size: 140%;
}

div.authorblock {
  margin-top: 2rem;
}

div.authorblock span {
  display: block;
}

div.authorblock span.authorname {
  font-weight: bold;
}

div.authorblock span.authoremail {
  font-family: 'DejaVu Sans Code', 'DejaVu Sans Mono', 'Droid Sans Mono', 'Fira Code', 'Fira Mono', 'JetBrains Mono', Inconsolata, Cousine, 'IBM Plex Mono', 'Red Hat Mono', 'Sarasa Mono K', 'Ubuntu Mono', Consolas, Menlo, Monaco, 'Lucida Console', monospace;
  margin-top: 0.3rem;
}

div.authorblock span.authoremail a,
div.authorblock span.authoremail a:link,
div.authorblock span.authoremail a:visited {
  color: inherit;
  text-decoration: none;
}

div.authorblock span.authoraffiliation {
  margin-top: 0.3rem;
  font-style: italic;
}

div.abstractblock {
  margin: 3rem 0 0 0;
}

div.abstracttitle {
  text-transform: uppercase;
}

div.mainheader div.abstract {
  line-height: 1.4;
  font-family: serif;
}

div.mainheader div.copyright {
  margin: 2rem 0 0 0;
}

div.mainheader div.cc {
  margin: 2rem 0 0 0;
  font-family: serif;
}

div.mainheader div.jhapline {
  margin: 4rem 0 0 0;
  font-family: serif;
}

div.mainheader div.jhapeditorinfo {
  margin: 1rem 0 0 0;
  font-family: serif;
  font-size: 90%;
}

div.mainheader div.jhapeditorinfo strong {
  font-weight: bold;
  font-family: sans-serif;
}

#refs::before,
#footnotes::before {
    display: block;
    font-family: var(--sansfont);
    font-weight: bold;
    font-size: 150%;
    text-align: left;
    margin: 1.5rem 0 0 0;
}

#refs::before {
    content: "References";
}

#footnotes::before {
    content: "Notes";
}

#footnotes, #refs {
    font-size: 90%;
}

figure {
    text-align: center;
}

figure img,
figure svg {
    max-width: 90%;
    margin: auto;
}

@media screen { /* Workaround for iBooks issue; see #6242 */
  .sourceCode {
  overflow: visible !important;
  white-space: pre-wrap !important;
  }
}
