<style>

/* ALIGNMENTS */

body.jhap .center,
body.jhap .centering,
body.jhap .centered,
body.jhap .centeralign,
body.jhap .aligncenter,
body.jhap p.center,
body.jhap p.centering,
body.jhap p.centered,
body.jhap p.centeralign,
body.jhap p.aligncenter
body.jhap .center p,
body.jhap .centering p,
body.jhap .centered p,
body.jhap .centeralign p,
body.jhap .aligncenter p {
  text-align: center;
}

body.jhap .justify,
body.jhap .justified,
body.jhap p.justify,
body.jhap p.justified,
body.jhap .justify p,
body.jhap .justified p {
  text-align: justify;
}

body.jhap .left,
body.jhap .flushleft,
body.jhap .leftalign,
body.jhap .alignleft,
body.jhap .leftjustify,
body.jhap p.left,
body.jhap p.flushleft,
body.jhap p.leftalign,
body.jhap p.leftjustify,
body.jhap p.alignleft
body.jhap .left p,
body.jhap .flushleft p,
body.jhap .leftalign p,
body.jhap .leftjustify p,
body.jhap .alignleft p {
  text-align: left;
}

body.jhap .right,
body.jhap .flushright,
body.jhap .rightalign,
body.jhap .alignright,
body.jhap .rightjustify,
body.jhap p.right,
body.jhap p.flushright,
body.jhap p.rightalign,
body.jhap p.alignright
body.jhap p.rightjustify,
body.jhap .right p,
body.jhap .flushright p,
body.jhap .rightalign p,
body.jhap .rightjustify p,
body.jhap .alignright p {
  text-align: right;
}

</style>