html {
  background-color: rgb(230,230,230);
}

#githubwarning {
  /* GitHub will not pick this up.
     So it is safe to hide it elsewhere. */
  display: none;
}

#spantable table {
  width: auto;
  display: inline-table;
}

#spantable table td:first-child, #spantable table th:first-child {
  white-space: nowrap;
  width: 75%;
}

#flowchart {
  min-width: 40rem;
  max-width: 100%;
}

table th {
  text-align: left;
}

body.kck code, body.kck div.sourceCode {
  font-size: 0.9rem;
  background-color: rgb(247,252,247);
  padding: 0.2rem;
  font-variant-ligatures: none;
}

body.kck div.sourceCode {
  max-width: calc(100% - 1rem);
}

body.kck  div.sourceCode  code.sourceCode {
  padding: 0;
}

.result,
#spantable td:last-child span,
#spantable td:last-child u,
#styletable td:last-child  {
  outline: 4px solid rgb(200,220,220);
  background-color: white;
}
#spantable td:last-child span,
#spantable td:last-child u,
#styletable td:last-child {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.result {
  max-width: calc(100% - 1.5rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

body.kck .result p {
  margin: 0 0 0 0;
}

body.kck a,
body.kck a:link,
body.kck a:visited,
body.kck a:hover,
body.kck a:link:hover,
body.kck a:visited:hover,
body.kck .result a,
body.kck .result a:link,
body.kck .result a:visited,
body.kck .result a:hover,
body.kck .result a:link:hover,
body.kck .result a:visited:hover
{
  color: rgb(0,0,180);
  background-color: transparent;
}

body.kck .result h1,
body.kck .result h2,
body.kck .result h3,
body.kck .result h4 {
  transform: scale(0.85);
  transform-origin: left;
}

body.kck .result #earlierparagraph p {
  margin-bottom: 1rem;
}

body.kck .result h2.unnumbered,
body.kck .result.data h2,
body.kck .result h1 {
  margin-top: 0;
}

body.kck .result h4 {
  margin-bottom: 0;
}

body.kck .math em {
  margin-right: 0.1rem;
}

body.kck code span.an,
body.kck code span.in,
body.kck code span.co {
  font-style: normal;
}

h1 {
  border-bottom: 4px solid DarkOrange;
  margin-top: 3rem;
}

.result h2,
.result h1,
h1.title {
  border-bottom: none;
}

h2 {
  border-bottom: 1px solid gray;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
}

table th,
table td {
  padding-right: 1rem;
}

table th:last-child,
table td:last-child {
  padding-right: 0;
}

body.kck .result table th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

body.kck .result table tr:last-child td {
  border-bottom: 1px solid black;
}

body.kck a.uri {
  font-size: 1rem;
  font-weight: bold;
}

body.kck h1 .header-section-number::after {
  content: '.';
  margin-right: 1rem;
}

ol.example li {
  margin-bottom: 1rem;
}

body.kck img.fregeified-math {
  transform: scale(1.3);
  margin-left: auto;
  margin-right: auto;
}

body.kck .fregeify p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

body.kck #cslhtmltable code,
body.kck #cslhtmltable td:nth-child(2) {
  white-space: nowrap;
}

body.kck ol li ul {
  margin-left: 0;
  padding-left: 0;
}

body.kck ol li ul li:first-child {
  margin-top: 1rem;
}

body.kck ol li:not(:last-child) ul li:last-child {
  margin-bottom: 1rem;
}

#TOC ul li a .toc-section-number {
  margin-right: 0.5rem;
}

#TOC > ul > li > a .toc-section-number::after {
  content: '.';
}

#TOC ul ul ul {
  display: none;
}

#TOC li {
  list-style-type: none;
}

#TOC > ul {
  padding-left: 0;
}

h2 .header-section-number {
  margin-right: 0.5rem;
}

h3 .header-section-number {
  display: none;
}

:not(.results) h2:not(:first-child) {
  margin-top: 2rem;
}

table caption {
  caption-side: bottom;
  margin-top: 0.5em;
}

div.fregeify {
    text-align: center;
}
span.fregeify {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}
span.fregeify.top {
    display: inline-block;
    vertical-align: text-top;
}
span.fregeify.bottom {
    display: inline-block;
    vertical-align: baseline;
}
span.fregeify.padded {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.indented {
  text-indent: 1.4rem;
}